.my-nav{
    background-color: black;
}
.pic img{
    height: 85vh;
}
  
  /* On screens that are 600px or less, set the background color to olive */
  @media only screen and (max-width: 576px) {
    .pic img {
        height: 45vh;
    }

    .project img {
        height: 200px;
    }
    .Blog img{
      height: 50px;
      width: 100%;
    }
}

  .project{
    background-color: black;
  }
  .project img {
    height: 355px;
    width: 100%;
}
.text-justify{
  text-align: justify;
}
.Blog{
  background-color: black;
}
.Blog img{
  height: 150px;
  width: 100%;
}
.CV img{
  width: 80%;
  height: 100%;
}